<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>my weblog</title>

	<!-- $Id$ -->

	</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="wrapper">

	<div id="header">
	<h1><a href="###BLOG_HOME###">###BLOG_TITLE###</a></h1>
	</div>
	
	<div id="content">
		###BLOG_CONTENT_NORMAL###
	</div>
	
	<div id="sidebar">
		<ul>
			<li class="pagenav">
				<h2>###SPRING_PAGES###</h2>
				###PAGENAV###
			</li>
			
			<li>
				<h2>###SPRING_ARCHIVES###</h2>
				###ARCHIVES###
			</li>
			
			<li>
				<h2>###SPRING_CATEGORIES###</h2>
				###CATEGORIES###
			</li>
			
			<li>
				###BLOG_BLOGROLL###
			</li>
			
			<li>
				<h2>###SPRING_META###</h2>
				<ul>
					<li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
					<li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
					<li><a href="http://www.typo3.com/" title="Powered by TYPO3">TYPO3</a></li>
					<li><a href="http://www.ingo-renner.com/?id=11" title="timtab: Blogging with TYPO3">timtab</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<div id="footer">
		<p>
		Design by <a href="http://beccary.com" title="Theme designed by Beccary">Beccary</a> and <a href="http://weblogs.us" title="Theme sponsored by Weblogs.us">Weblogs.us</a>
		&#183;
		<a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a>
		&#183;
		<a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a>
		</p>		
	</div>
	
</div>
<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>